body {
    margin: 0;
    padding: 0;
    background-color: #0d001a;
    font-family: 'Cascadia Mono', sans-serif;
    font-weight: 400;
}


.container {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

#terminal {
    border: 2px solid #240046;
    border-radius: 10px;
    height: 410px;
    width: 735px;
    box-shadow: 0 0 10px 7px rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border: 0.5rem solid #0d001a;
    border-top: 2.4rem solid #0d001a;
    background: #0d001a;
    overflow-y: auto;
    overflow-x: hidden;
    -ms-overflow-style: none;
    flex-direction: column;
}

.controls {
    position: absolute;
    height: 35px;
    width: auto;
    background: transparent;
    margin-top: -53px;
    margin-left: -15px;
    text-align: left;
}

.controls ul {
    display: inline-flex;
    text-align: center;
    letter-spacing: 0.55em;
    margin-top: 5px;
    margin-left: -40px;

}

.controls ul li {
    list-style: none;
    padding: 2px;
    cursor: pointer;
}

::-webkit-scrollbar {
    display: none;
}

.message {
    color: #db7638;
    font-size: 15px;
    font-weight: 200;
    margin-left: 10px;
    text-align: left;
    padding: 2px;
    letter-spacing: 0.15em;
    line-height: 1.3em;
    margin-top: -20px;
    display: block;
}

.footer {
    color: #fec303;
    text-align: right;
    margin-top: -45px;
    font-size: 12px;
    font-weight: 200;
    letter-spacing: 0.1em;
    margin-right: 25px;

}

.title {
    color: #fec303;
    margin-top: 0px;
}

#command-input {
    margin-top: 0px;
    overflow: hidden;
    flex: 1 1;
    background: #0d001a;
    border: none;
    outline: none;
    color: #149BDA;
    width: auto;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.15em;
}

#command-input:focus {
    caret-color: #f5084f;
}

.shell {
    color: #db7638;
    font-size: 15px;
    font-weight: 200;
    margin-left: 0px;
    text-align: left;
    padding: 2px;
    letter-spacing: 0.15em;
    line-height: 1.1rem;
    margin-top: -5px;
    margin-bottom: 5px;
}

.dynamic-content {
    color: #fce26e;
    font-size: 15px;
    font-weight: 200;
    letter-spacing: 0.15em;
    margin-left: 10px;
}

#exception {
    margin-left: 10px;
    line-height: 1.2rem;
    margin-top: 0px;
}

#exception p {
    font-weight: 300;
    letter-spacing: 0.2rem;
    display: block;
    padding: 0.01rem;
}

#help {
    margin-top: -15px;
    display: inline-grid;
}

#help p {
    text-align: left;
    float: left;
    margin-left: 10px;
    line-height: 1.5em;
}

#help ul {
    margin-top: -2px;
    margin-left: 5px;
    margin-bottom: -3px;
    text-align: left;
    float: left;
    display: inline;
    overflow: hidden;
    color: #64f105;
}

#help ul li {
    list-style: none;
}

.new-generated {
    margin-left: 0px;
}

.intro {
    color: #fce283;
    display: inline-flex;
    margin-top: -25px;
    margin-left: 10px;
    line-height: 1.3rem;
}

.skills,
.contact {
    display: inline-block;
    margin-top: -20px;
    margin-left: 10px;
    text-align: left;
}

.skills ul,
.contact ul {
    margin-top: -5px;
    margin-left: -20px;
}

.skills ul li,
.contact ul li {
    list-style: none;
}

.contact a {
    text-decoration: none;
    color: aqua;
}

.flame {
    display: block;
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -30px;
    margin-bottom: -35px;
}

.flame p {
    background-color: #f56201;
}

.footer-on-exit {
    text-align: center;
    left: 38%;
    right: 38%;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.flip {
    display: none;
}